{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block body %}
    <h1>Créer une Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            let $voyageursCollectionHolder = $("#reservation_voyageurs");
            let $voyageurTemplate = $voyageursCollectionHolder.data('prototype');
            let voyageurIndex = $voyageursCollectionHolder.children().length;

            $('#addVoyageur').click(function () {
                let newVoyageur = $($voyageurTemplate.replace(/__name__/g, voyageurIndex++));
                newVoyageur.addClass('border-bottom pb-2');
                let deleteButton = $('<button type="button" class="btn btn-danger float-right delete">Delete</button>')
                newVoyageur.append(deleteButton);
                $voyageursCollectionHolder.append(newVoyageur);
            });

            $voyageursCollectionHolder.delegate('.delete', 'click', function () {
                $(this).parent().remove();
            })

            $('#addClient').click(function () {
                if($(this).text() === "Ajouter Client") {
                    $("#reservation_client").attr("style","display:block");
                    $("#reservation_clients").attr("style","display:none");
                    $(this).text("Sélectionner Client");
                }
                else
                {
                    $("#reservation_client").attr("style","display:none");
                    $("#reservation_clients").attr("style","display:block");
                    $(this).text("Ajouter Client");
                }

            })
        })
    </script>
{% endblock %}
