body {
    /*background-color: purple;*/

    color: darkslategray!important;
}

.table {
    color: purple;
}
.tr{
    color: rosybrown;
}

.btn-custom {
    color:white;
}
.jumbotron{
    background-image: url(/img/banner.jpg);
    min-height: 300px;
    background-size: cover;
}
